img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

body {
    text-align: center;
    background: linear-gradient(
        360deg,
        rgba(255, 0, 0, 0.137),
        rgba(255, 166, 0, 0.237),
        rgba(255, 255, 0, 0.316),
        rgba(0, 128, 0, 0.5),
        rgba(0, 0, 255, 0.293),
        rgba(76, 0, 130, 0.273),
        rgba(238, 130, 238, 0.307),
        rgba(255, 0, 0, 0.473)
    );
}

ul {
    display: flex;
    width: 80%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
}
li {
    margin: 20px;
    list-style-type: none;
    text-align: center;
}

.projects {
    margin: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}
nav {
    text-align: end;
    margin: 30px;
}
nav > a {
    color: white;
}

a {
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    color: blueviolet;
    margin: 20px;
    text-align: end;
}

h1 {
    color: white;
    margin-top: 80px;
    text-align: center;
}

footer {
    margin: 30px;
    color: blueviolet;
    font-size: 20px;
}
