* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8ff;
    color: rgba(37, 27, 27, 0.11);
    height: 100%;
    /* overflow: hidden; */
}

header {
    padding: 20px;
    margin: 10px;
    background-color: white;
    height: 55px;
}

#spiced {
    height: 25px;
    float: left;
}

#menu-button {
    float: right;
    /* position: absolute;
    right: 30px; */
}
#hamburguer-menu {
    height: 45px;
    width: 35px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

#spices {
    width: 100%;
    display: block;
    margin: 0;
    filter: brightness(0.8);
}
.get-start-button {
    position: absolute;
    left: 50%;
    bottom: 50%;
    padding: 5px 25px;
    background-color: #ffcc33;
    color: #cc6600;
    border-radius: 20px;
    border: 3px solid #cc6600;
    transform: translateX(-50%);
    font-size: 20px;
    z-index: 1;
}

h1 {
    color: #2f4f4f;
    font-family: Roboto;
    padding: 0 20px;
}

h2 {
    color: white;
    font-size: 35px;
    font-style: italic;
    /* text-align: center; */
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
h3 {
    margin: 0;
    position: absolute;
}

img[alt="icon"] {
    width: 50px;
    margin: 0px 35px;
    position: absolute;
}

.about {
    width: 100%;
    display: table;
    height: 200px;
    background-color: #cccccc;
    padding: 10;
    /* position: absolute;
    top: 58%; */
}
.about:nth-child(2) {
    padding: 50px;
}
.about:nth-child(3) {
    padding: 70px 0;
}
aside {
    /* display: inline-flex; */
    width: 100%;
    display: table;
}
aside > div {
    position: relative;
}

.pseudo-cell {
    width: 50%;
    display: table-cell;
    padding: 30px;
}

.second {
    text-align: left;
}

p {
    margin: 0;
    color: black;
    width: 65%;
    position: absolute;
    left: 20%;
}

footer {
    background-color: #666666;
    color: rgb(168, 164, 164);
    font-size: 12px;
    padding: 10px 30px;
    position: relative;
    width: 100%;
    bottom: 0%;
}

a {
    text-decoration: none;
    color: rgb(54, 64, 211);
    font-family: Georgia, "Times New Roman", Times, serif;
}
.menu-x {
    margin-bottom: 10px;
    position: absolute;
    margin: 0 30px;
    right: 0;
}

.menu-x a {
    color: rgb(44, 42, 42);
    font-family: roboto;
}

.overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #474e4e7e;
    visibility: hidden;
    transition: 2s;
    transition: opacity 300ms ease-in-out;
    opacity: 0;
}

.showOverlay {
    visibility: visible;
    opacity: 1;
}

.side-nav {
    position: fixed;
    right: -20%;
    z-index: 5;
    background-color: white;
    width: 20%;
    height: 100%;
    font-size: 2em;
    padding: 20px;
    text-decoration: none;
    transition-property: right;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.on {
    right: 0;
}

.logout {
    padding-top: 5px;
    font-size: 0.5em;
}
#pop-up-container {
    position: fixed;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #474e4e7e;
}
#pop-up {
    position: fixed;
    z-index: 5;
    background-color: white;
    border-radius: 5px;
    color: black;
    width: 35%;
    height: 40%;
    font-size: 10px;
    padding: 20px;
    text-decoration: none;
}
#pop-up p {
    font-size: 15px;
    margin: 5px;
}
#pop-up p strong {
    font-size: 23px;
    padding: 10px 0;
}

#close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.close {
    margin-right: 10px;
    border: none;
    font-weight: bold;
    background-color: white;
}

@media screen and (max-width: 600px) {
    .get-start-button {
        bottom: 76%;
    }

    h2 {
        bottom: 82%;
        width: 100%;
        /* padding: 10px; */
        font-size: 25px;
        text-align: center;
    }
    aside {
        width: 80%;
        padding: 20px;
        margin: 20px;
    }
    .about {
        display: block;
        height: 33vh;
    }
    .pseudo-cell {
        width: 100%;
        display: block;
        margin: 0;
        padding: 30px;
        padding: 55px 32px;
    }
    img[alt="icon"] {
        width: 50px;
        margin: 0;
        position: absolute;
    }
    .about:nth-child(3) {
        padding: 39px 0;
    }
    footer {
        height: 6vh;
        padding: 15px 30px;
    }
    .spices {
        height: 27vh;
    }
    .side-nav {
        z-index: 5;
        background-color: white;
        width: 40%;
        font-size: 1.5em;
    }
}
