* {
    box-sizing: border-box;
    margin: 0;
}
.container {
    display: inline-grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px;
    background-color: #030303;
    vertical-align: top;
}
.box-inside1 {
    grid-row: 1; /* onde começa */
    grid-column: 2;
}
.box-inside2 {
    grid-row: 2; /* onde começa */
    grid-column: 2;
}
.box-inside3 {
    grid-row: 2; /* onde começa */
    grid-column: 1;
}
.box-inside4 {
    grid-row: 1; /* onde começa */
    grid-column: 1;
}
