<h1>🌈  WELCOME TO MY PORTFOLIO 🌈</h1>
<div>
    <ul>
        {{#projects}}
            <div class="projects">
                <a href="/{{directory}}/index.html"><img src="/{{directory}}/screenshoot.png" />
                <a href="/{{directory}}/index.html"><li>{{title}}</li></a>
            </div>
        {{/projects}}
    </ul>
</div>