* {
    box-sizing: border-box;
    margin: 0;
}

#kitties {
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#kitties img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateX(100%);
}

#kitties img.onscreen {
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 1s;
}

#kitties img.exit {
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 1s;
}

#circles {
    position: fixed;
    z-index: 1;
    width: 90px;
    left: 50%;
    top: 55%;
    display: flex;
    justify-content: space-between;
}

.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
}
